            </article>

        <footer>
          <div class="container">
            <a href="/" title="5AM dot co logo"><h2 class="footer-logo">&nbsp;</h2></a>
            <p>&copy; 5AM / All is art. 2014 <a class="twitter-icon" href="https://twitter.com/MightyBOKCHOI" target="_blank">&nbsp;</a></p>
          </div><!-- End Container -->
        </footer>
        
        <script type="text/javascript">
          (function () {
            var images = document.getElementsByClassName("hires");

            for(var i = 0; i < images.length; i++) {
              var imageSource = images[i].getAttribute("data-src");
              var imageType = imageSource.substr(-4);

              imageSource = imageSource.substr(0, imageSource.length - 4);

              if (window.devicePixelRatio == 2) {
                imageSource = (imageSource + "@2x" + imageType);
              } else {
                imageSource = (imageSource + imageType);
              }

              images[i].src = imageSource;
            }
          })();
        </script>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

        <script type="text/javascript">
          $(document).ready(function(){

          $(".nav-drawer").click(function(){
            $(".mobile").fadeToggle("fast");
            $(this).toggleClass("active"); return false;
            });
          });
        </script>

         <script>
          // Basic FitVids Test
          $(".vendor").fitVids();
          // Custom selector and No-Double-Wrapping Prevention Test
          $(".vendor").fitVids({ customSelector: "iframe[src^='http://socialcam.com']"});
        </script>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-19112574-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
    </body>
</html>